<p id="notice"><%= notice %></p>

<%= image_tag("Logo.png", :alt => "logo") %>


<table>
  <thead>
    <tr>
      <!--<th>Name</th>-->
      <!--<th>Category</th>-->
      <!--<th>Time</th>-->
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <tr>
      <tr>
        <td>
          <figure>
            <%= link_to image_tag("meat.png", :alt => "image"), controller: "foods", action: "meat" %>
            <figcaption>
              <%= link_to 'Meats', controller: "foods", action: "meat" %>
            </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= link_to image_tag("soup.png", :alt => "image"), controller: "foods", action: "soup" %>
            <figcaption>
              <%= link_to 'Soup', controller: "foods", action: "soup" %>
            </figcaption>
          </figure>
        </td>
        <td>
        
          <p>Have you ever stared at the microwave impatiently, waiting for your food to be done?
          Have you ever overheated your food causing you to drop it on the floor and waste $20?
          Well, with Time2Eat, you'll know exactly how much time to heat your food
          and you'll be entertained in the mean time!
          <br>
          <br>
          <br>
          Time2Eat provides you with the proper heating times for whatever food you need, 
          and it provides you with a video tailored to your heating time. 
          </p>
        </td>
      </tr>
        
      <tr>
        <td>
          <figure>
            <%= link_to image_tag("vegetable.PNG", :alt => "image"), controller: "foods", action: "vegetables"  %>
            <figcaption>
              <%= link_to 'Vegetables', controller: "foods", action: "vegetables" %>
            </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= link_to image_tag("grain.PNG", :alt => "image"), controller: "foods", action: "grain" %>
            <figcaption>
              <%= link_to 'Grains', controller: "foods", action: "grain" %>
            </figcaption>
          </figure>
      </tr>
    </tr
  </tbody>
</table>

<br>

