<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <!--<th>Time</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= link_to 'Meats', controller: "foods", action: "meat" %></td>
        <td><%= link_to 'Vegetables', controller: "foods", action: "vegetables" %></td>
        <td><%= link_to 'Soup', controller: "foods", action: "soup" %></td>
        <td><%= link_to 'Grains', controller: "foods", action: "grain" %></td>
      </tr>
  </tbody>
</table>

<br>

